= render "shared/header"

.termofservice
  %h2 個人情報保護方針

  .termofservice__tab
    %h3 第1条　総則
    %p 合同会社BlueWings（以下「当社」といいます。）は、個人情報保護を企業における重要な社会的使命・責務と認識し、当社が保有するお客様の個人情報を適切に管理運用するために遵守するべき基本事項として本保護方針を定めます。

  .termofservice__tab
    %h3 第2条　個人情報とは
    %p 当社において、個人情報とは、個人の識別に係る以下の情報をいいます。
    %p ・氏名、電子メールアドレス、ログインID、パスワード、ニックネーム、IPアドレス等において、特定の個人を識別できる情報（他の情報と照合することができ、それにより特定の個人を識別することができることとなるものを含む。）
    %p ・当社の運営・提供するインターネットサイト「Shake × Hands」（以下「当社サービス」といいます。)において、お客様が、当社でご利用になったサービスの内容、ご利用日時、ご利用回数などのご利用内容及びご利用履歴に関する情報

  .termofservice__tab
    %h3 第3条　個人情報の取得・収集について
    %p 当社は、以下の方法により、個人情報を取得させていただきます。
    %p (1)当社のインターネットサイト等を通じて取得・収集させていただく方法
    %p 　当社上で、自ら入力された個人情報を、当社は取得・収集させていただきます。
    %p (2)当社等へアクセスされた際に情報を収集させていただく方法
    %p 　当社サービスをご利用された履歴等を収集させていただきます。
    %p 　これら情報には、利用されるURL、ブラウザや携帯電話の種類、IPアドレスなどの情報を含みます。
  .termofservice__tab
    %h3 第4条　個人情報の取得・利用目的
    %p 当社において、当社は以下の目的のため、個人情報を適法かつ公正な手段で取得・利用させていただきます。当社は、お客様本人の同意がある場合を除き、以下の目的達成に必要な範囲を超えて、取得した個人情報を利用しません。
    %p (1) 当社サービスを提供するため
    %p (2) 当社サービスを安心・安全にご利用いただける環境整備のため
    %p (3) 当社サービスの運営・管理のため
    %p (4) 当社サービスに関するご案内、お問い合せ等への対応のため
    %p (5) 当社、その他当社サービスについての調査・データ集積、改善、研究開発のため
    %p (6) 当社がおすすめする商品・サービスなどのご案内を送信・送付するため
    %p (7) 当社とお客様の間での必要な連絡を行うため
    %p (8) 当社サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
    %p (9) 当社サービスに関する規約等の変更などを通知するため
    %p (10) その他当社とお客様との間で同意した目的のため
    %p (11) 上記(1)~(10)に附随する目的のため
  .termofservice__tab
    %h3 第5条　個人情報の管理
    %p 当社は、個人情報の滅失、き損、漏洩及び不正利用等を防止し、その安全管理を行うために必要な措置を講じ、個人情報の取扱責任者を設置し、個人情報を安全に管理します。また、当社は個人情報を利用目的の範囲内において、正確かつ最新の状態で管理するように努めます。

  .termofservice__tab
    %h3 第6条　個人情報の第三者への提供・開示
    %p 当社は、以下のいずれかに該当する場合に限り、法令の範囲内で、個人情報を第三者に提供する場合があります。
    %p (1) お客様本人の同意がある場合
    %p (2) 公的機関等又はそれらの委託を受けた者より、開示請求を受領した場合
    %p (3) 生命や財産に危機が生じ、緊急に開示する必要があり、当該お客様の同意を得るのが困難な場合
    %p (4) 第三者に対し、当社の運営に必要な業務の一部もしくは一切を委託する場合又はビジネスの移管を行う場合
    %p (5) その他、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の法令で認められる場合。

  .termofservice__tab
    %h3 第7条　個人情報の開示・訂正・利用停止
    %p 当社は、お客様から個人情報の開示、内容の訂正・追加・削除及び利用停止を求められた場合には適切にこれに対応します。但し、個人情報保護法その他の法令により、当社がこれらの義務を負わない場合は、この限りではありません。
 
  .termofservice__tab
    %h3 第8条　改訂
    %p 本保護方針は、当社の判断によりお客様の同意なしに全部又は一部の改訂を行うことができるものとし、本保護方針改訂後にお客様が当社サービスを利用した場合には、当該改訂に同意したものとみなします。 ただし、本保護方針の内容を大幅に改訂する場合については当社上においてお知らせいたします。

  .termofservice__tab
    %h3 第10条　お問い合わせ先
    %p 本個人情報保護方針に関するお問い合わせは、下記連絡先にお問い合わせ下さい。
    %p 別途メアドを設定

  %p 2020年3月2日　制定
  
= render "shared/footer2"