= render "shared/header"

.termofservice
  %h2 特定商取引法に基づく表示

  .termofservice__tab
    %h3 サービス名
    %h4 Shake × Hands

  .termofservice__tab
    %h3 運営業者
    %h4 合同会社BlueWings

  .termofservice__tab
    %h3 所在地
    %h4 〒160-0023
    %h4 東京都新宿区西新宿7-5-9 9F

  .termofservice__tab
    %h3 連絡先
    %h4 別途記載

  .termofservice__tab
    %h3 利用料金
    %h4 当サイトに記載している有料プランの利用料金

  .termofservice__tab
    %h3 支払い方法
    %h4 クレジットカード

  .termofservice__tab
    %h3 引き渡し時期
    %h4 即時

  .termofservice__tab
    %h3 返品・キャンセル
    %h4 原則として返品・交換は不可能です






= render "shared/footer2"