= render "shared/header"

.termofservice
  %h2 利用規約
  .termofservice__tab
    %h3 第1条　総則
    %p 1.本利用規約は、合同会社BlueWings(以下「弊社」といいます。)が提供するインターネットサイト『Shake × Hands』(以下「本サイト」といいます。)の利用者が遵守すべき事項及び利用者と弊社との関係を定めるものです。 
    %p 2.本サービスの利用者は、本利用規約の内容を十分理解した上でその内容を遵守することに同意して本サービスを利用するものとし、本サービスを利用した場合には、当該利用者は本利用規約を遵守することの同意したものとみなします。

  .termofservice__tab
    %h3 第2条　定義
    %p 本利用規約の中で使用される以下の各用語は、それぞれ以下の意味を有するものとします。 
    %p 「本サービス:　本サイトの閲覧や本サイトに付随するメール配信等を利用した業務委託に関する情報提供サービスの総称のことをいいます。
    %p 「会員」:　本サイトで所定の会員登録手続を行って弊社から登録の承諾を受けた個人又は法人をさします。
    %p 「有料会員」:　本サイトの会員の内、料金プランに合意した上で、有料プランを申し込み、弊社から登録の承諾を受けた個人又は法人をさします。
    %p 「利用者」:　会員又は非会員を問わず本サービスの提供を受ける個人又は法人で、本サイトの閲覧者も含みます。
    %p 「会員情報:　ID、メールアドレス、パスワード、氏名、住所、性別、生年月日、プロフィール画像など会員が本サイトへのアカウント登録および本サイトの利用に際して弊社に提供するすべての情報を意味します。
    %p 「アカウント」:　本サイトを利用する権利を意味します。
    %p 「コミュニティ」:　本サイトの会員が、自由に任意のテーマで議論することができるグループを意味します。
    %p 「スカウト」:　本サイトの会員が、自らの起業・副業アイデアや準備中のビジネスに参画してくれる仲間を見つける機能を意味し、個別にメッセージを送ることができます。なおこのメッセージは、有料会員のみのサービスとなります。
    %p 「プロジェクト」:　自らの起業・副業アイデアや準備中のビジネスに参画してくれる仲間を募集することを意味し、全ての利用者が閲覧することができます。

  .termofservice__tab
    %h3 第3条　規約の改定
    %p 本利用規約は、弊社の判断により事前の予告なく変更・追加・削除されることがあります。利用者は、本利用規約変更後に本サイトを利用した場合には、変更された本利用規約の内容に同意したものとみなされます。

  .termofservice__tab
    %h3 第4条　会員登録
    %p 1.会員登録手続を行うことができるのは、その会員となる本人（法人の場合には対外的な契約権限を有する者）に限るものとし、代理人による会員登録は認められないものとします。
    %p 2.会員登録手続を行う者は、登録情報の入力にあたり、入力した情報は全て真実であることを保証するものとします。
    %p 3.登録した情報全てにつき、その内容の正確性・真実性・最新性等一切について、会員自らが責任を負うものとします。
    %p 4.会員として登録できる者の資格・条件は以下の通りです。但し、法人の場合には第１号及び第２号は適用されません。
    %p (1) 満18歳以上であること。
    %p (2) 未成年である場合には法定代理人の包括的な同意を得ていること。
    %p (3) 電子メールアドレスを保有していること。
    %p (4) 本利用規約の全ての条項に同意すること。
    %p (5) 過去、現在又は将来にわたって、暴力団等の反社会的勢力に所属せず、これらのものと関係を有しないこと。
    %p 5.弊社は、会員登録手続を行った個人又は法人が以下の各号に該当する場合、会員として登録することを承諾しない場合があります。また、承諾・登録後であっても、会員について以下の各号に該当する事実が判明した場合には、承諾・登録を取り消すことがあります。
    %p (1) 会員登録の資格・条件を満たさない場合又は満たさなくなった場合。
    %p (2) 入力された登録情報に虚偽の情報があることが判明した場合。
    %p (3) 弊社からの電子メールを受領できない場合。
    %p (4) 本利用規約に違反する行為を行った場合。
    %p (5) その他弊社が当該会員の登録が不適切であると判断した場合。
    %p 6.会員情報及び本サービスの利用において弊社が知り得た利用者の情報については、別途定める「個人情報保護方針」に従って取り扱われるものとし、利用者はこれに同意するものとします。
    %p 7.会員が退会を希望する場合には、お問い合わせフォームから退会申請をし、弊社で退会情報が確認できた時点で退会申請を承諾したものとします。

  .termofservice__tab
    %h3 第5条　本サービスの内容
    %p 1.弊社は本サービスによる情報提供を通じて、自らの起業・副業アイデアや準備中のビジネスに参画してくれる仲間を募集するためのプラットフォームの提供を行います。
    %p 2.本サービスは、会員間が直接契約等を締結することを目的とするものであり、弊社は本取引の当事者とはなりません。
    %p 3.会員間での連絡は、原則として本サービス内において行うものとします。但し、弊社が事前に承諾した場合はこれに限りません。
    %p 4.本サービスの提供を受けるために必要な、コンピューター、ソフトウェアその他の機器、通信回線その他の通信環境等の準備及び維持は、利用者の費用と責任において行うものとします。

  .termofservice__tab
    %h3 第6条　ID・パスワードの管理
    %p 1.会員は、登録したID及びパスワードについて、自己の責任の下で適切に管理し、ID及びパスワードの盗用を防止する措置を自ら講じるものとします。
    %p 2.会員は、登録したID及びパスワードについて、第三者による利用や第三者への貸与・譲渡等の行為を行ってはならないものとします。
    %p 3.ID及びパスワードの管理不十分、使用上の過誤、第三者の使用等により被った損害は会員が責任を負うものとし、弊社はかかる会員の損害から一切免責されるものとします。
    %p 4.会員は、ID及びパスワードの盗用や第三者による使用が判明した場合、直ちにその旨を弊社に通知し、弊社からの指示に従うものとします。

  .termofservice__tab
    %h3 第7条　秘密情報の取り扱い
    %p 1.利用者は、本サービスを通じて会員間で連絡を取り合う場合及び弊社から会員に対して連絡を行う場合 、相手方から開示された情報については、秘密として保持し、事前に当該相手方の書面による承諾を得ることなく、第三者への開示又は漏洩をしてはならず、また、本サービスの利用目的以外で使用しないものとします。
    %p 2.次の各号に定める情報は、秘密情報から除外します。
    %p (1) 開示者から開示を受ける前に、被開示者が正当に保有していたことを証明できる情報。
    %p (2) 開示者から開示を受ける前に、公知となっていた情報。
    %p (3) 開示者から開示を受けた後に、被開示者の責に帰すべからざる事由により公知となった情報。
    %p (4) 被開示者が、正当な権限を有する第三者から秘密保持義務を負うことなく正当に入手した情報。
    %p (5) 被開示者が、開示された情報によらず独自に開発した情報。
    %p 3.利用者が本条第１項の規定に違反したことにより会員その他の第三者との間で紛争が生じたとしても、弊社は一切の責任を負わないものとし、利用者の責任と費用でこれを解決するものとします。

  .termofservice__tab
    %h3 第8条　地位等の譲渡禁止
    %p 利用者は、本利用規約に基づく権利、義務及び本利用規約の契約上の地位の全部又は一部について、これを第三者に譲渡、質入れ、その他の方法により処分してはならないものとします。但し、弊社の書面による事前の承諾がある場合を除きます。

  .termofservice__tab
    %h3 第9条　禁止行為
    %p 会員は、本サービスの利用にあたり、故意または過失を問わず、以下のいずれかに該当する行為またはこれらを助長する行為を禁止します。
    %p なお、会員の行為がいずれかに該当、または該当する恐れがあると弊社が判断した場合は、会員に事前に通知することなく、当該情報の全部または一部を削除することができるものとし、それに基づき会員に発生した損害について一切の責任を負いません。
    %p (1) 法令又は公序良俗に違反する行為
    %p (2) 弊社、会員、外部SNS事業者、その他第三者の著作権、肖像権等の知的財産権、プライバシー、名誉を侵害する行為
    %p (3) 犯罪行為、反社会的行為を暗示・誘発・助長する行為、その他犯罪に関連する行為、またこれらを指南する行為
    %p (4) 営利目的や宗教への勧誘を目的とした行為
    %p (5) 風俗営業、売春、アダルト、ポルノ、その他これらに関連する内容の情報を投稿、送信、掲載する行為
    %p (6) 異性交際を目的とした本サービスの利用、またそれに関する情報を投稿、送信、掲載する行為
    %p (7) 人種、民族、性別、社会的身分等を根拠にする差別的表現を含む情報を投稿、送信、掲載する行為
    %p (8) 利用者が不快に感じる画像、動画、文章を投稿、送信、掲載する行為
    %p (9) コンピュータウィルスその他の有害なコンピュータプログラムを含む情報を投稿、送信、掲載する行為
    %p (10) 本サービスの運営やネットワーク・システムに支障を与える行為
    %p (11) 他者になりすまして本サービスを利用する行為
    %p (12) 根拠のない不確かな情報を投稿、送信、掲載する行為
    %p (13) その他、事務局が不適切と判断する行為

  .termofservice__tab
    %h3 第10条　監視業務
    %p 弊社は、利用者が本サービスを適正に利用しているかどうかを監視する業務を弊社の裁量により行うものとし、利用者はそれに同意するものとします。
  
  .termofservice__tab
    %h3 第11条　弊社からの連絡又は通知
    %p 1.弊社が会員への連絡又は通知の必要がある場合には、登録されたメールアドレス宛にメールするか、プッシュ通知機能により、連絡又は通知を行います。
    %p 2.利用者は、原則としてメール又はお問い合わせフォームより弊社への連絡を行うものとします。電話による連絡及び来訪は受け付けておりません。

  .termofservice__tab
    %h3 第12条　サイトの中断・停止・終了
    %p 1.弊社は、システム障害及び保守、停電や火災などの天変地異、その他技術上・運営上の理由により、本サービスの提供が困難であると判断した場合、利用者への事前通知を行わず、本サービスの中断を行う場合があります。
    %p 2.弊社は2週間前までに、会員に電子メールでの通知及び本サービスの提供を行うWebサイト上で告知を行うことにより、本サービスの停止及び終了を行うことができるものとします。
    %p 3.弊社は、本条に基づき弊社が行った措置に基づき利用者に生じた損害について一切の責任を負いません。
  
  .termofservice__tab
    %h3 第13条　免責
    %p 1.会員登録取消し、利用者からのID・パスワードの第三者に漏洩、利用者による秘密漏示、本サービスのシステム不具合や障害・中断やデータの消失・漏洩等により生じた不利益・損害等、本サービスの利用により利用者に生じた一切の不利益・損害について弊社は一切の責任を負いません。
    %p 2.利用者が、本サービスを利用することにより、他の利用者又は第三者に対し不利益・損害を与えた場合、利用者は自己の費用と責任においてこれを賠償するものとし、これらの一切の不利益・損害について弊社は一切責任を負いません。
    %p 3.本サービス上でやりとりされるメッセージや送受信されるファイルに個人情報等が含まれていた場合、それによって会員が被った不利益・損害について、弊社は一切責任を負いません。
    %p 4.弊社は、会員の身元の保証をするものではなく、またメンバー又はクライアントが本サービス上で取引を完了することを保証するものでもありません。
    %p 5.会員間で何らかの紛争が発生した場合、全て当事者間で解決するものとし、弊社は一切の責任を負わないものとします。

  .termofservice__tab
    %h3 第14条　本サービスの譲渡等
    %p 弊社は、本サービスの事業を第三者に譲渡した場合、当該事業譲渡に伴い、本サービスの運営者たる地位、本利用規約上の地位、本利用規約に基づく権利及び義務並びに会員の登録情報及びその他情報を当該事業譲渡の譲受人に譲渡することができるものとし、本サービスの会員は、会員たる地位、本規約上の地位、本利用規約に基づく権利及び義務並びに会員の登録情報その他情報の譲渡につきあらかじめ同意するものとします。
   
  .termofservice__tab
    %h3 第15条　準拠法・管轄裁判所
    %p 1.本利用規約は日本法に基づき解釈されるものとし、本利用規約の一部が無効な場合でも、適用可能な項目については効力があるものとします。
    %p 2.本サービスに関連して訴訟等の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。

  %p 2020年3月2日　制定

= render "shared/footer2"