= render "shared/header"

#parent.par
  #child
    %button.category_btn Get Elements
  -# .parents_list
  -#   - @parents.each do |parent|
  -#     = link_to "#{parent.name}", "#", class: "parent_category",id: "#{parent.id}"
  -# .children_list
  -#   - parent.children.each do |child|
  -#     = child.name

.scout-page
  .scout
    .scout__index
      %h1  ユーザー一覧
      .scout__index__big
        = render partial: "shared/user-detail", collection: @users, as: :user