%ul.parent
  %li
    ITエンジニア
    %ul.child
      %li SEシステムエンジニア
      %li プログラマー
      %li プログラマースマートフォン
      %li iOSアプリエンジニア
      %li Androidアプリエンジニア
      %li ITコンサルタント
      %li ネットワークエンジニア
      %li サーバー/インフラエンジニア
      %li データベースエンジニア
      %li アプリエンジニア
      %li 業務アプリエンジニア
      %li テスター
      %li プロジェクトマネージャー
      %li その他エンジニア
  %li
    デザイナー
    %ul.child
      %li グラフィックデザイナー
      %li イラストレーター
      %li ウェブデザイナー
      %li 工業デザイナー
      %li エディトリアルデザイナー
      %li プロダクトデザイナー
      %li DTPオペレーター/デザイナー
      %li クリエイティブデザイナー
      %li ゲームデザイナー
      %li 装丁家/ブックデザイナー
      %li その他デザイナー
  %li
    ビジネス
    %ul.child
      %li 社長
      %li 会社役員
      %li 起業家
      %li 営業代行
      %li 学生起業
      %li コンサルタント
      %li IT営業
      %li ディレクター/プロデューサー
      %li SEO/SEOコンサルタント
      %li アナリスト
      %li マーチャンダイザー
      %li リサーチャー
      %li マーケッター
      %li 会計/財務担当
      %li 財務担当
      %li 広告/PR担当
      %li サポーター
      %li キャリアコンサルタント
  %li
    ライター
    %ul.child
      %li ライター/編集
      %li コピーライター
      %li 編集者
      %li テクニカルライター
      %li 翻訳者
  %li
    クリエイティブ
    %ul.child
      %li 映像カメラマン/ディレクター
      %li 広告/CMプランナー
      %li 写真家/カメラマン
      %li 音楽家/作曲家/作詞家
      %li 漫画家/アニメーター
      %li インテリアコーディネーター/デザイナー
      %li 庭師/ガーデンデザイナー
  %li
    制作
    %ul.child
      %li プログラマー
      %li HTMLコーダー/マークアップエンジニア
      %li UI/UXデザイナー
      %li Flashデザイナー
  %li
    事務・総務・法務
    %ul.child
      %li 一般/営業事務
      %li 医療事務
      %li 法務
      %li 人事・総務
  %li
    スキル・資格
    %ul.child
      %li ビジネススキル/マナー
      %li パソコン
      %li 英語講師
      %li 翻訳家
      %li 通訳者
      %li キーパンチャー
  %li
    金融
    %ul.child
      %li ファイナンシャルプランナー
      %li 保険
      %li IFA
      %li 株式投資
      %li FX
      %li 仮想通貨
      %li 投資
      %li その他金融
  %li
    建築・不動産
    %ul.child
      %li 建築家
      %li 宅地建物取引主任者
      %li 不動産コンサルタント
  %li
    医療・健康
    %ul.child
      %li 医師
      %li 心理カウンセラー
      %li 歯科医師
      %li 鍼灸師
      %li 薬剤師
  %li
    法律・士業
    %ul.child
      %li 弁護士
      %li 行政書士
      %li 司法書士
      %li 社会保険労務士
      %li 税理士
      %li 中小企業診断士
      %li 土地家屋診断士
      %li 公認会計士
      %li 不動産鑑定士
  %li
    その他
    %ul.child
      %li 副業
      %li 占い師
      %li カウンセラー