.imagebody__flame__itemslists__block
  .imagebody__flame__itemslists__block__image
    = image_tag communities.image.image.url, class: "top-image"
    .top-name
      = communities.name
    .top-explain
      = communities.explain