.imagebody__flame__itemslists__block
  .imagebody__flame__itemslists__block__image
    = image_tag community.image, class: "top-image"
    .top-price
      = community.name
    .top-name
      = community.explain