.main-content__community__range
  .main-content__community__range__image
    = image_tag('community1.jpg', class: 'community-image')
  .main-content__community__range__title
    %h3 東京で異業種交流会やりませんか！？
  .main-content__community__range__amount
    %h4 参加人数：10人
  .main-content__community__range__text
    %p 東京の起業家同士でお酒を交えて集まりませんか！？場所や料金については、参加希望者で決めれたらと思います。ご参加お待ちしております。
  .main-content__community__range__button
    %button.news-btn
      = link_to "詳細", "#", class: "community-btn"