.header
  .header__up
    %ul
      %li.logo
        %h2 Shake × Hands
      %li.logo
        %p 起業家同士が気軽に繋がるためのマッチングプラットフォーム
      %li.icon
        = icon('fa', 'user', class: "header-icon")
  .header__down
    .header__down__tab
      = link_to "コミュニティ", "#", class: "header-tab"
    .header__down__tab
      = link_to "スカウト", "#", class: "header-tab"
    .header__down__tab
      = link_to "ジョイン", "#", class: "header-tab"