.main-content__join__range
  .main-content__join__range__image
    = image_tag('join1.jpg', class: 'join-image')
  .main-content__join__range__title
    %h3 動画編集チーム
  .main-content__join__range__amount
    %h4 募集人数：3人
  .main-content__join__range__condition
    %h4 【募集条件】
    %h4 あなたが編集した動画URLの提示
  .main-content__join__range__text
    %p 動画編集チームを作成し、いろんな企業案件を我々のチームで回したいと思います。
  .main-content__join__range__button
    %button.news-btn
      = link_to "詳細", "#", class: "community-btn"