.main-content__news__range
  .main-content__news__range__date
    %p 2020年3月20日
  .main-content__news__range__image
    = image_tag('news1.jpg', class: 'news-image')
  .main-content__news__range__tilte
    %h3 サービス開始しました！
  .main-content__news__range__text
    %p いよいよ起業家同士が気軽に繋がれるマッチングプラットフォーム、Shake×Handsがサービス開始となりました。
  .main-content__news__range__button
    %button.news-btn
      = link_to "詳細", "#", class: "news-btn"