.main-content__scout__range
  .main-content__scout__range__icon
    = image_tag('icon1.png', class: 'icon-image')
  .main-content__scout__range__name
    %p 織田信長
  .main-content__scout__range__work
    %h3 動画編集
  .main-content__scout__range__introduce
    %h4 初めまして。織田信長です。動画編集をメインにフリーで仕事しています。お安くしますので、お気軽にご連絡下さい。
  .main-content__scout__range__button
    %button{type: "submit", class: "follow-btn"} + フォロー