.how-to-use{
  &__first{
    padding: 40px 150px;
    position: relative;
    .top-image{
      height: 600px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
    }
    &__title{
      z-index: 1000;
      position: absolute;
      top: 220px;
      left: 405px;
      text-align: center;
      h2{
        color: gold;
        font-size: 80px;
        font-weight: bold;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
      }
      h3{
        font-weight: bold;
        font-size: 20px;
      }
      button{
        margin-top: 50px;
        background-color: gold;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
        border-radius: 5px;
        padding: 20px;
        .account-new-btn{
          font-size: 30px;
          font-weight: bold;
          color: black;
        }
      }
    }
    &__bar{
      position: absolute;
      top: 220px;
      text-align: center;
      width: 1140px;
      height: 150px;
      background-color: white;
      opacity: 0.5;
    }
  }
  &__second{
    background-color: #dcdcdc;
    padding: 100px 150px;
    &__title{
      text-align: center;
      font-size: 30px;
      color: #262626;
      margin-bottom: 50px;
      h2{
        font-weight: bold;
      }
    }
    &__image{
      text-align: center;
      .top-image{
        height: 430px;
        width: 730px;
      }
    }
  }
  &__third{
    padding: 100px 150px;
    &__title1{
      display: flex;
      font-size: 30px;
      margin-bottom: 10px;
      h2{
        color: gold;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
        margin-right: 5px;
      }
      h3{
        line-height: 46px;
        color: gray;
        font-weight: bold;
      }
    }
    &__title2{
      font-size: 35px;
      h4{
        font-weight: bold;
      }
      &__image{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        &__tab{
          h2{
            font-size: 20px;
            color: gray;
            font-weight: bold;
            margin-bottom: 10px;
          }
          .how-to-use-image{
            height: 200px;
            width: 200px;
            border-radius: 300px;
          }
          &__text{
            width: 200px;
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  &__forth{
    font-size: 30px;
    background-color: #262626;
    padding: 0 150px;
    &__title{
      display: flex;
      h2{
        margin-right: 5px;
        color: gold;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
      }
      h3{
        line-height: 46px;
        color: white;
        font-weight: bold;
      }
    }
  }
  &__fifth{
    justify-content: space-around;
    padding: 50px 150px;
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    &__tab{
      margin: 30px;
      h2{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &__image{
        .service-image{
          height: 300px;
          width: 450px;
          border-radius: 10px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
        }
        :hover{
          transform: scale(1.05);
          transition-duration: 0.3s;
        }
      }
      &__text{
        width: 450px;
        margin-top: 10px;
      }
    }
  }
}