.project-show{
  margin: 40px 300px;
  text-align: center;
  background-color: white;
    &__image{
      .project-show-image{
        height: 430px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.28);
      } 
    }
    &__name{
      text-align: left;
      padding: 20px;
      &__tab{
        h2{
          text-decoration: underline;
          color: gray;
          font-weight: bold;
        }
      }
      &__tab2{
        margin-top: 10px;
        color: black;
        font-weight: bold;
        font-size: 20px;
      }
    }
    &__explain{
      text-align: left;
      padding: 20px;
      &__tab{
        h2{
          text-decoration: underline;
          color: gray;
          font-weight: bold;
        }
      }
      &__tab2{
        margin-top: 10px;
        color: black;
        border: solid 1px gray;
        border-radius: 5px;
        padding: 10px;
      }
    }
    &__name2{
      text-align: left;
      padding: 20px;
      &__tab{
        h2{
          text-decoration: underline;
          color: gray;
          font-weight: bold;
        }
      }
      &__tab2{
        margin-top: 10px;
        color: black;
      }
    }
  }