.project{
  &__new-create{
    padding: 40px 300px;
    &__image{
      margin: 0 auto;
      border: solid 1px gray;
      height: 300px;
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      p{
        text-align: center;
        line-height: 270px;
      }
      h3{
        position: absolute;
        top: 120px;
        left: 215px;
        background-color: red;
        color: white;
        padding: 4px;
        width: 38px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
      }
      .project-image{
        position: absolute;
        top: 160px;
        left: 280px;
      }
    }
    &__name{
      margin-bottom: 50px;
      position: relative;
      h3{
        position: absolute;
        top: -3px;
        background-color: red;
        color: white;
        padding: 4px;
        width: 38px;
        height: 30px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
      }
      h2{
        color: gray;
        font-weight: bold;
        margin-left: 50px;
      }
      &__tab{
        margin-top: 20px;
        .project-name{
          width: 840px;
          padding: 10px;
        }
        .project-explain{
          width: 840px;
          padding: 10px;
          height: 300px;
        }
        select{
          width: 200px;
          height: 40px;
        }
      }
    }
    &__button{
      text-align: center;
      .project-btn{
        background-color: gold;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
        border-radius: 3px;
        padding: 10px 20px;
        font-weight: bold;
      }
    }
  }
}


.project-show{
  margin: 40px 300px;
  text-align: center;
  background-color: white;
    &__image{
      .project-show-image{
        height: 430px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.28);
      } 
    }
    &__name{
      text-align: left;
      padding: 20px;
      &__tab{
        h2{
          text-decoration: underline;
          color: gray;
          font-weight: bold;
        }
      }
      &__tab2{
        margin-top: 10px;
        color: black;
        font-weight: bold;
        font-size: 20px;
      }
    }
    &__explain{
      text-align: left;
      padding: 20px;
      &__tab{
        h2{
          text-decoration: underline;
          color: gray;
          font-weight: bold;
        }
      }
      &__tab2{
        margin-top: 10px;
        color: black;
        border: solid 1px gray;
        border-radius: 5px;
        padding: 10px;
      }
    }
    &__name2{
      text-align: left;
      padding: 20px;
      &__tab{
        h2{
          text-decoration: underline;
          color: gray;
          font-weight: bold;
        }
      }
      &__tab2{
        margin-top: 10px;
        color: black;
      }
    }
  }