.account-page {
  .account-page__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    border-radius: 5px;
    .account-page__header{
      text-align: center;
    }

    .account-page__inner--left, .account-page__inner--right {
      margin: 0 100px;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h5 {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: bold;
    }
    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;
    display: flex;
    position: relative;
    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 200;
      width: 100%;
      select{
        width: 300px;

      }
    }
    h3{
      background-color: red;
      position: absolute;
      left: -55px;
      top: 6px;
      color: white;
      padding: 4px;
      width: 38px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .login {
    margin-bottom: 10px;
    .login-input {
      padding: 10px;
      letter-spacing: 1px;
      width: 100%;
    }
  }
  .field2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    h3{
      background-color: red;
      position: absolute;
      left: -55px;
      top: 6px;
      color: white;
      padding: 4px;
      width: 38px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    .field2-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 16px;
      width: 100%;
    }
    .field2-select{
      text-align: right;
      #large-category{
        margin-bottom: 10px;
        select{
          width: 200px;
          height: 30px;
          letter-spacing: 1px;
          }
        }
      #middle-category{
        select{
          width: 200px;
          height: 30px;
          letter-spacing: 1px;
          }
        }
      }
    }

    .field-input {
      input {
        width: 400px;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
    .field-select {
      select {
        height: 30px;
        width: 200px;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .actions{
    text-align: center;
    .btn {
      margin-top: 20px;
      display: inline-block;
      height: 50px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      font-weight: bold;
      border-radius: 2px;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
      background-color: gold;
    }
  }

  .field-introduce{
    position: relative;
    h3{
      background-color: red;
      position: absolute;
      left: -55px;
      top: -2px;
      color: white;
      padding: 4px;
      width: 38px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    .field-introduce-textarea{
      margin-top: 10px;
      margin-bottom: 20px;
      textarea {
        height: 300px;
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
        
    } 
  }

  input[type='submit'] {
    margin-top: 20px;
    font-weight: bold;
    color: black;
    background-color: gold;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
